<script type="text/javascript">

$(document).ready(function() {
    squarifyMe('.square');
});
</script>


<div id="project_list" >
  <div class="col-xs-11 col-xs-offset-1">
  <h1>Listing profiles</h1>
    <% @profiles.each do |profile| %>
      <%=render partial: "profiles/indexedprofile", object: profile, as: "profile"%>
    <% end %>
  </div>

</div>
