
<%#can write on on click script to redirect to the project%>
<a href=<%= project_path(project)%>>
	<div id="<%= project.id %>" class="col-lg-2 col-md-3 col-sm-3 col panel panel-default square" >
		<div class="imageheight">
			<% displayedpicture = project.projectpictures.first%>
			<%if !displayedpicture.nil?%>
				<%= image_tag displayedpicture.picture.url(), :class => 'fisrtpic center-img img-responsive', :onload => "trimImage(\"##{project.id}\")"%>
			<%end%>
		</div>
		<h4 class="title text-center">
			<%=project.title%>
			<%#= link_to project.title, project_path(project) %>
		</h4>
	</div>
</a>




