<ul id='thumbnailbar' class="list-group scrollable">
        <% project.projectpictures.each do |projectpicture| %>
          <li class="list-group-item">
            <%= image_tag projectpicture.picture.url(:thumb),
            :onclick => "swappictures( '#{image_tag projectpicture.picture.url(:medium), :class => 'fisrtpic', :onload => 'resizepicturearea()'}', '#{projectpicture.description}')"%>
          </li>
        <%end%>
      </ul>



