<div class=" col-xs-offset-1 turninline-block">
	<h1>
		<strong>
			Editing project
		</strong>
	</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
