
<script type="text/javascript">

$(document).ready(function() {
    squarifyMe('.square');
});

function squarifyMe(element) {
  squareItUp()
  window.onresize = function(element) {
    squareItUp();
    $('.square').each(
        function () {
            var e = '#'+$(this).attr('id');
            trimImage(e);
        }
    );
  }
  function squareItUp() {
    $(element).height($(element).width());
  }
}

function trimImage (element) {
  var theight = $(element).children(".title").outerHeight(true);
  var iheight = $(element).children(".imageheight").outerHeight(true);
  var eheight = $(element).height();
  //removed so when expanded resizes though it does push the title down
  //if( iheight - theight > eheight || iheight - theight) {
    $(element).find(".imageheight").height($(element).height() - theight);
  //}
}


</script>


<div id="project_list" >
  <div class="col-xs-11 col-xs-offset-1">
  <h1>Listing projects</h1>
    <% @projects.each do |project| %>
      <%=render partial: "projects/indexedproject", object: project, as: "project"%>
    <% end %>
  </div>

</div>
